<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <sheets>
        <general>
            <ROOT>
                <TCEforms>
                    <sheetTitle>LLL:EXT:bwrk_ajaxcontent/Resources/Private/Language/locallang.xlf:bwrk_ajaxcontent.settings</sheetTitle>
                </TCEforms>
                <type>array</type>
                <el>
                    <settings.menuRecursive>
                        <TCEforms>
                            <label>
                                LLL:EXT:bwrk_ajaxcontent/Resources/Private/Language/locallang.xlf:bwrk_ajaxcontent.settings.menuRecursive
                            </label>
                            <config>
                                <type>check</type>
                            </config>
                        </TCEforms>
                    </settings.menuRecursive>
                    <settings.plugin>
                        <TCEforms>
                            <label>
                                LLL:EXT:bwrk_ajaxcontent/Resources/Private/Language/locallang.xlf:bwrk_ajaxcontent.settings.plugin
                            </label>
                            <config>
                                <type>group</type>
                                <internal_type>db</internal_type>
                                <allowed>tt_content</allowed>
                                <size>1</size>
                                <maxitems>1</maxitems>
                                <minitems>0</minitems>
                                <show_thumbs>1</show_thumbs>
                            </config>
                        </TCEforms>
                    </settings.plugin>
                </el>
            </ROOT>
        </general>
    </sheets>
</T3DataStructure>