{namespace bwrk=BERGWERK\BwrkAjaxcontent\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages renderMode="div"/>
    <div class="tx-bwrk-ajaxcontent-content">
        <f:render partial="Content/Content" arguments="{contentElements: object.0.contentElements}"/>
    </div>


    <f:comment>
        <div class="tx-bwrk-ajaxcontent-loader" id="loader{cid}">
            <div class="loading-container">
                <div class="loading">
                    <div class="l1">
                        <div></div>
                    </div>
                    <div class="l2">
                        <div></div>
                    </div>
                    <div class="l3">
                        <div></div>
                    </div>
                    <div class="l4">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </f:comment>
</f:section>